html {
  scroll-behavior: smooth;
}

body {
  background: aliceblue;
  font-family: monospace;
  font-size: 1.1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 10px;
  width: 96%;
  backdrop-filter: blur(5px);
  z-index: 11;
  border-radius: 30px;
  box-shadow:  cornflowerblue 0px 0px 10px;
  
}

#pk{
  color: cornflowerblue;
}
.logo {
  width: 30%;
  padding-left: 10px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35px;
  cursor: pointer;
  padding-right: 10px;
}

.bar {
  height: 35px;
  width: 35px;
}

.theme-toggle {
  height: 35px;
  width: 35px;
  cursor: pointer;
  /* padding-right: 10px; */
}

.nav-desktop {
  display: none;
  flex-direction: row;
  gap: 20px;
}

#menu {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 300px;
  backdrop-filter: blur(20px);
  display: none; 
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

#menu.show {
  display: flex;
  opacity: 1;
  animation: fadeIn 0.3s ease-in-out;
}

#menu.fade-out {
    opacity: 0;
  animation: fadeOut 0.3s ease-in-out;
}

.hidden {
  display: none;
}
#abme{
  margin-top: 78px;
}
.nav_item {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin: 3px 0;
  height: 30%;
  width: 60%;
  background: lightsteelblue;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img1 {
  margin-top: 10px;
  height: 200px;
}

.intro {
  font-size: 2rem;
  padding-left: 10px;
}

.details {
  text-align: justify;
  padding: 10px;
  line-height: 20px;
  font-size: 15px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.project_sec {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 350px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow:cornflowerblue/*#7ea6f4*/ 0px 0px 10px;
  border-radius: 30px;
}

.p_img{
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.img2 {
  object-fit: cover;
  width: 100%;
  height: 150px;
  object-position: top;
  border-radius: 20px;
}

.p_tech {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.p_tech_item {
  background: lightsteelblue;
  padding: 10px;
  width: fit-content;
  text-align: center;
  border-radius: 20px;
}


.p_desc{
    margin:0px 0px 10px 0px;
}


.skill_sec {
  width: 100%;
}

.skill_items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px 50px;
}

.s_item {
  background: lightsteelblue;
  padding: 10px;
  border-radius: 20px;
}

.achieve_sec {
  width: 100%;
} 

.achieve_item {
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  box-shadow:cornflowerblue/*#146efd*/ 0px 0px 10px;
}

.a_p {
  font-size: 100%;
}


.footer {
  margin: 20px 0px 0px 0px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plink111{
  height: 32px;
}
#projects {
  height: 50px;
}

#aboutme {
  height: 50px;
}

#skills {
  height: 50px;
}

#achieve {
  height: 50px;
}
#send {
  height: 30px;
}

.pp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksimages{
  display: flex;
  align-items: center;
  gap: 5px;

}

body.dark-mode {
  background: #0d0e0f  /*#141414 #0F0529 */;
  color: #f2f2ff;
}

body.dark-mode .header {
  color: #fff;
    box-shadow: #8236FD 0px 0px 10px;
}

body.dark-mode .nav_item {
  background: #212121;
  color: #fff;
}

body.dark-mode .s_item{
    background: #212121;
  /* box-shadow: #8236FD 0px 0px 5px;*/
}

body.dark-mode .p_tech_item{
    background: #212121;
}

body.dark-mode .con{
    color: whitesmoke;
}

body.dark-mode .plink111{
    border: 1px solid white;
}

body.dark-mode .project{
    box-shadow: #8236FD 0px 0px 10px;
}

body.dark-mode .achieve_item{
    box-shadow: #8236FD 0px 0px 10px;
}


body.dark-mode #pk{
  color:#8236FD;
}

.hhh {
  display: flex;
  gap: 5px;
}


.plink111{
    border: 1px solid aliceblue;
}

@media only screen and (min-width: 480px) {
  .header {
    width: 98.7%;
    justify-content: space-between;
  }
    
  .links {
    justify-content: center;
    gap: 20px;
  }  
  
  .project_sec {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
    
  .project {
    width: 350px;
    margin: 10px;
  } 
  
  .details {
    font-size: 1.2em;
    padding: 10px 30px;
  }
    
  .pp {
    padding: 0px 10px;
  }  
  
  .achieve_item {
    margin: 0px 50px;
  }

  .a_p{
    font-size: 1.1em;
  }

  .s_item{
    font-size: 1.2em;
  }
  .block{
    animation-range: entry 0% cover 30%;
  }
  
}

@media only screen and (min-width:600px){
  .logo {
    width: 5%;
    margin-left: 30px;
  }
    
  .th {
    margin-right: 30px;
  }

  .hamburger {
    display: none;
  }

  .nav-desktop {
    display: flex;
    width: 50%;
  }
  
  body.dark-mode .nav_item {
    background: transparent;
  }
  .nav_item {
    background: transparent;
  }

  #menu {
    display: none;
  }

  .details {
    padding: 10px 60px;
  }  
}

@media  only screen and (min-width:800px) {
  .details {
    padding: 10px 100px;
  }  
}



body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

img {
  transition: opacity 0.5s ease;
}

nav {
  transition: background-color 0.5s ease;
}

header, footer, .nav_item, .linksimage {
  transition: background-color 0.5s ease, color 0.5s ease;
}



@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

.block{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

.testt{
  height: 30px;
  text-align: center;
}
